@charset "utf-8";
/* CSS Document */

/*大きさ*/
/*枠*/
/*並び*/
/*スタイル*/

/*----------------XXXX----------------*/
/*---XXXX---*/



/*----------------共通----------------*/
/*---font---*/
.h2-index , .h3-index  {
	font-family: 'Shippori Mincho';
	text-align: center;
}
.h2-index {
	background: top center no-repeat url(../images/main_section_h2-basic.png);
	margin-bottom: 20px;
	padding-top: 10%;
	font-size: 150%;
	background-size: 20%;
}
.h3-index {
	margin-bottom: 5px;
	font-size: 120%;
}
/*---font---*/

/*---nav---*/
nav {
	position: relative;
	max-width: 100%;
}
nav .material-icons {
	position: fixed;
	top: 2%;
	right: 5%;
	z-index: 2;
	font-size: 50px;
	color: #000;
	display:block;
}
nav .menu {
	/*位置*/
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2;
	/*並び*/
	display: none;
	margin: 0 auto;
	/*装飾*/
	background-color: #f0eb64;
	height: 100%;
}
nav .menu ul{
	/*並び*/
	height: 100%;
	display: block;
}
nav .menu ul li {
	list-style-type: none;
}
nav .menu ul li a {
	display: block;
	font-weight: 600;
	font-family: 'Shippori Mincho';
	font-size: 130%;
	text-align: center;
	margin: 20px;
}
/*---nav---*/

/*---footer---*/
.footer{
	padding-left:20px;
	padding-right: 20px;
	display: block;
}
.footer img {
	width: 40%;
	padding-bottom: 10px;
}
.footer p a {
	font-size: 130%;
}
.footer p button {
	font-size: 130%;
}
/*---footer---*/

/*----------------共通----------------*/

/*----------------index.html----------------*/

/*---farst-view---*/
#farst-view {
	max-width: 100%;
	position: relative;
}
#slideshow img {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
	height: 100%;
	width: auto;
}
.h1-index {
	/*位置*/
	position: absolute;
	top: 50%;
	/*幅*/
	width: 30%;
	padding: 4% 0 0;
	background-position: 65% 0%;
}
/*---farst-view---*/

/*---index-back---*/
.div-white {
	padding: 10%;
}
/*-パララックス背景-*/

/*固定する背景*/
section {
	padding: 8%;
}
.parallax-bg {
	height: 200px;
}
/*スクロールするコンテンツ*/
.scrollbox1 {
background-size: 50%;
background-position: top left;
}
/*-パララックス背景-*/
/*---index-back---*/

/*---font---*/
.h2-story {
	background: none;
	padding-top: 0;
	padding-left: 5%;
}
.h2-story img {
	width: 70%;
}
.h2-story::before {
	content: '';/*何も入れない*/
}
.h2-story::after {
	content: '';/*何も入れない*/
}
.h2-point::before {
	content: '';/*何も入れない*/
}
.h2-point::after {
	content: '';/*何も入れない*/
}
.h2-product::before {
	margin-right: -4px;
	content: '';/*何も入れない*/
}
.h2-product::after {
	content: '';/*何も入れない*/
}
.h2-news{
	background: none;
	padding: 0 0 15px;
	margin-bottom: 0;
	border-bottom: 2px solid #000;
}
/*---font---*/

/*---story---*/
.div-white p + img {
	margin-top: 20px;
}
/*---story---*/

/*---point---*/
.flex-content + .clearfix {
	margin-top: 70px;
}
.flex-content {
	display: block;
	margin-bottom: 20px;
}
.flex-content li{
	width: 85%;
	list-style-type: none;
	display: block;
	margin-bottom: 30px;
	margin-left: auto;
	margin-right: auto;
}
.flex-content li img {
	padding-bottom: 5px;
	width: 100%;
}
.clearfix img{
	width: 100%;
	float: none;
	margin-right: 0;
}
/*-fadeUp-*/
/*---point---*/

/*----------------index.html----------------*/

/*----------------base.html----------------*/

/*---font---*/
.h1-base {
	font-size: 140%;
	line-height: 200%;
}
.h1-base time {
	margin-right: 20px;
	color: #7d7d7d;
}
.wrapper > .map-div + .map-div {
	margin-top: 10%;
}
/*---font---*/

/*---header---*/
.top-view img{
	display: block;
	object-fit: cover;
	height: 200px;
	object-position : 50% 40%;
}
/*---header---*/

/*---button-02---*/
.button-02{
	position: relative;
	width: 150px;
	height: 40px;
	margin: 20px 0 40px;	
}
.button-02 a {
	display: block;
	padding-bottom: 2px;
	box-shadow: 0px 10px 10px -10px #7d7d7d;
	/*font*/
	font-family: 'Noto Sans JP';
	line-height: 40px;
	font-size: 130%;
	font-weight: 500;
	text-align: center;
	/*初期表示で見える色を設定しておく*/
	color: #6c6c6c;
	background-color: #f0dc0a;
	/*線*/
	border: none;
	border-radius: 40px;
}
.button-02 .bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	overflow: hidden;
	margin-bottom: 30px;
}
.button-02 span span a {
	display: block;
	width: 150px;
	height: 42px;
	padding-bottom: 2px;
	border-radius: 40px;
	/*font*/
	font-family: 'Noto Sans JP';
	line-height: 40px;
	font-size: 130%;
	font-weight: 500;
	text-align: center;
	/*01違い*/
	background-color: #6c6c6c;
	color: #fff;
}
/*---button-02---*/

#news-top {
	background-color: #f0eb64;
}
/*----------------base.html----------------*/